<div class="bc-colors bc-colors-style-1">
    {%- assign productType = product.type | handleize | prepend: 'color-' -%}
    {% for tag in product.tags %}
        {% if tag contains 'color-' %}
            {%- assign productColorTitle = tag | split: '-' | last -%}
        {% endif %}
    {% endfor %}
    {%- assign productColorImage = productColorTitle | strip | replace: ' ', '_' | downcase | prepend: 'c_' -%}
    {%- assign productColor = productColorTitle | strip | replace: ' ', '_' | downcase | prepend: 'c_bg_' -%}
    {%- if show_heading -%}
        <h2 class="bc-colors__heading"> 
            COLOR <b>{{ productColorTitle }}</b>
        </h2>
    {%- endif -%}
    {%- if collections[productType].products.size > 0 -%}
        {%- for prod in collections[productType].products -%}
            {% for tag in prod.tags %}
                {% if tag contains 'color-' %}
                    {%- assign colorTitle = tag | split: '-' | last -%}
                {% endif %}
            {% endfor %}
                 
            {%- assign color = colorTitle | strip | replace: ' ', '-' | downcase  -%}
            {%- if colorTitle == productColorTitle -%}
            <div class="bc-colors__item bc-colors__item-selected">
                <div class="bc-colors__icon" 
                data-color="{{color}}"
                title="{{colorTitle}}"></div>
            </div>
            {%- else -%}
            <div class="bc-colors__item">
                <a href="{{ prod.url }}">
                    <div class="bc-colors__icon" 
                        data-color="{{color}}"
                        title="{{colorTitle}}">
                    </div>
                </a>
            </div>
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        <div class="bc-colors__item bc-colors__item-selected">
            <div class="bc-colors__icon" 
            {% if settings[productColorImage] != blank %}style="background-image: url({{ settings[productColorImage] | img_url: '50x' }});"{% elsif settings[productColor] != blank %}style="background-color:{{ settings[productColor] }};"{% endif %}
            title="{{productColorTitle}}"></div>
        </div>
    {%- endif -%}
</div>