<style>
  .custom-grid{
    height: 100%;
  }

  @media screen and (max-width: 750px) {
    .custom-grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    .product_one{
      grid-column: 1;
      grid-row: 1;
    }
    .product_two{
      grid-column: 2;
      grid-row: 1;
    }
    .image_text{
      grid-column: 1/3;
      grid-row: 2;
    }
  }
</style>
<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="custom-content">
    {%- assign block_width_mobile = '' -%}

    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign max_height = 250 -%}
          {%- assign block_width = 'medium-up--one-quarter' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '33%' %}
          {%- assign max_height = 345 -%}
          {%- assign block_width = 'medium-up--one-third' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '50%' %}
          {%- assign max_height = 530 -%}
          {%- assign block_width = 'medium-up--one-half' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '66%' %}
          {%- assign max_height = 720 -%}
          {%- assign block_width = 'two-thirds' -%}
        {% when '75%' %}
          {%- assign max_height = 810 -%}
          {%- assign block_width = 'three-quarters' -%}
        {% when '100%' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'one-whole' -%}
      {% endcase %}


      <div class="custom__item custom__item--{{ block.type }} {{ block.type }} custom__item--{{ block.id }} {{ block_width_mobile }} {{ block_width }}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}">
            {% case block.type %}

              {% when 'image_text' %}
                {% if block.settings.image != blank %}
                {%- assign img_url_text = block.settings.image | img_url: 'master' -%}
                  <div style="background-image: url('{{ img_url_text }}');" class="image-text">
                    <h2>CITY COLLECTION</h1>
                    <a href="#">Shop Now</a>
                  </div>
                  <style>
                    .image-text {
                      display: flex;
                      flex-direction: column;
                      justify-content: end;
                      padding: 5%;
                      color: white;
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      height: 100%;
                    }

                    .image-text a {
                      color: white;
                      text-decoration: underline;
                    }

                    .custom__item-inner--image_text {
                      height: 100%;
                    }
                  </style>
                {% endif %}

              {% when 'product_stacked' %}
              {%- assign product_one = all_products[block.settings.product_one] -%}
              {%- assign product_two = all_products[block.settings.product_two] -%}
                <div class="product-one1">
                  {% include 'product-card-grid', max-height: max_height, product: product_one %}
                </div>
                <div class="product-two1">
                  {% include 'product-card-grid', max-height: max_height, product: product_two %}
                </div>

            {% endcase %}
          </div>
        </div>
      {% endfor %}
  </div>

</div>



{% schema %}
{
  "name": "Custom content V2",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom content"
    }
  ],
  "blocks": [
    {
     "type": "image_text",
     "name": "Image With Text",
     "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "75%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "product_stacked",
      "name": "Product-Stacked",
      "settings": [
        {
          "type": "product",
          "id": "product_one",
          "label": "Top Product"
        },
        {
          "type": "product",
          "id": "product_two",
          "label": "Bottom Product"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "66%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content V2",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "image_text"
        },
        {
          "type": "product_stacked"
        }
      ]
    }
  ]
}
{% endschema %}
