<style>
  .product-one{
    padding-bottom: 0;
  }
  .product-two{
    padding-top: 0;
  }
  @media screen and (min-width: 750px) {
    .product-one{
      padding-bottom: 7.5px;
    }
    .product-two{
      padding-top: 7.5px;
    }
  }
  @media screen and (min-width: 768px) {
    .product-one{
      padding-bottom: 15px;
    }
    .product-two{
      padding-top: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-one{
      padding-bottom: 25px;
    }
    .product-two{
      padding-top: 25px;
    }
  }
  
  @media screen and (max-width: 749px) {
    .custom-grid{
      display: grid;
      padding: 0 7.5px;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: minmax(250px, auto);
      gap: 15px;
      margin: auto;
    }
    .product_one{
      grid-column: 1;
    }
    .product_two{
      grid-column: 2;
    }
    .image_text{
      margin: 0;
      width: 100%;
      padding: 0;
      grid-column: 1/3;
      grid-row: 1/4;
    }
    .product_stacked{
      margin: 0;
      width: 100%;
      grid-column: 1/3;
      padding: 0;
    }
    .grid-product_stacked{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
    }
  }
</style>

<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="custom-content custom-grid">
    {%- assign block_width_mobile = '' -%}

    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign max_height = 250 -%}
          {%- assign block_width = 'medium-up--one-quarter' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '33%' %}
          {%- assign max_height = 345 -%}
          {%- assign block_width = 'medium-up--one-third' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '50%' %}
          {%- assign max_height = 530 -%}
          {%- assign block_width = 'medium-up--one-half' -%}
          {%- assign block_width_mobile = 'small--one-half' -%}
        {% when '66%' %}
          {%- assign max_height = 720 -%}
          {%- assign block_width = 'two-thirds' -%}
        {% when '75%' %}
          {%- assign max_height = 810 -%}
          {%- assign block_width = 'three-quarters' -%}
        {% when '100%' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'one-whole' -%}
      {% endcase %}


      <div class="custom__item custom__item--{{ block.type }} {{ block.type }} custom__item--{{ block.id }} {{ block_width }}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }} grid-{{ block.type }}">
            {% case block.type %}

              {% when 'image_text' %}
                  {%- assign collection = collections[block.settings.collection] -%}
                  {% if block.settings.image != blank %}
                    {% assign collection_image = block.settings.image %}
                  {% elsif collection.image %}
                    {% assign collection_image = collection.image %}
                  {% elsif collection.products.first and collection.products.first.media != empty %}
                    {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
                  {% else %}
                    {% assign collection_image = blank %}
                  {% endif %}

                  {%- assign img_url_text = collection_image | img_url: '1024x1024' -%}

                  {% assign set = block.settings %}
                  <a href="{% if set.image_link == blank %}{{collection.url}}{% else %}{{ set.image_link  }}{% endif %}" style="text-decoration: none;">
                    <div data-bgset="{% include 'bgset', image: collection_image %}"
                    data-sizes="auto"
                    data-parent-fit="cover" style="background-image: url('{{ img_url_text }}');" class="image-text collection-grid-item__overlay">
                    </div>
                    <div class="collection-grid-item__title-wrapper bottom-left-title">
                      <div class="collection-grid-item__title h2 large-title">
                        {% if set.text_in_image != blank %}
                          {{set.text_in_image}}
                        {% elsif collection.title == blank %}
                          {{ 'homepage.onboarding.collection_title' | t }}
                        {% else %}
                          {{ collection.title }}
                        {% endif %}
                      </div>
                      {% if set.image_link != blank %}
                        <a class="only-link shop-now" href="{{ set.image_link }}">{{set.image_link_label}}</a>
                      {% endif %}
                    </div>
                  </a>
                  <style>
                    .image-text {
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      height: 100%;
                    }
                    .custom__item-inner--image_text {
                      height: 100%;
                    }
                  </style>

              {% when 'product_stacked' %}
              {%- assign product_one = all_products[block.settings.product_one] -%}
              {%- assign product_two = all_products[block.settings.product_two] -%}
                <div class="product-one">
                  {% include 'home-product-card-grid', max-height: max_height, product: product_one %}
                </div>
                <div class="product-two">
                  {% include 'home-product-card-grid', max-height: max_height, product: product_two %}
                </div>

            {% endcase %}
          </div>
        </div>
      {% endfor %}
  </div>

</div>



{% schema %}
{
  "name": "Custom content V3",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom content"
    }
  ],
  "blocks": [
    {
     "type": "image_text",
     "name": "Image With Text",
     "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "75%",
          "options": [
          {
            "value": "25%",
            "label": "25%"
          },
          {
            "value": "50%",
            "label": "50%"
          },
          {
            "value": "66%",
            "label": "66%"
          },
          {
            "value": "75%",
            "label": "75%"
          },
          {
            "value": "100%",
            "label": "100%"
          }
          ]
        },
        {
          "type": "header",
          "content": "Text Inside Picture"
        },
        {
          "type": "text",
          "id": "text_in_image",
          "label": "Heading",
          "default": "CITY COLLECTION"
        },
        {
          "type": "header",
          "content": "Link"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "image_link_label",
          "label": "Link Label",
          "default": "Shop"
        }
      ]
    },
    {
      "type": "product_stacked",
      "name": "Product-Stacked",
      "settings": [
        {
          "type": "product",
          "id": "product_one",
          "label": "Top Product"
        },
        {
          "type": "product",
          "id": "product_two",
          "label": "Bottom Product"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "66%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content V3",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "image_text"
        },
        {
          "type": "product_stacked"
        }
      ]
    }
  ]
}
{% endschema %}
