<style>
  .custom-grid{
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
  }
  .image_text{
    grid-column: 1/3;
  }
  .product_stacked{
    grid-column: 3;
  }
  .product-one{
    padding-bottom: 0;
  }
  .product-two{
    padding-top: 0;
  }
  @media screen and (min-width: 750px) {
    .product-one{
      padding-bottom: 7.5px;
    }
    .product-two{
      padding-top: 7.5px;
    }
  }
  @media screen and (min-width: 768px) {
    .product-one{
      padding-bottom: 15px;
    }
    .product-two{
      padding-top: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    .product-one{
      padding-bottom: 25px;
    }
    .product-two{
      padding-top: 25px;
    }
  }
  
  @media screen and (max-width: 749px) {
    .custom-grid{
      display: grid;
      padding: 0 7.5px;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: minmax(250px, auto);
      gap: 15px;
      margin: auto;
    }
    .product_one{
      grid-column: 1;
    }
    .product_two{
      grid-column: 2;
    }
    .image_text{
      margin: 0;
      width: 100%;
      padding: 0;
      grid-column: 1/3;
      grid-row: 1;
    }
    .product_stacked{
      margin: 0;
      width: 100%;
      grid-column: 1/3;
      padding: 0;
    }
    .grid-product_stacked{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 15px;
    }
  }
</style>

<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  
  
  <!-- <div class="custom-content custom-grid"> -->
    <ul class="section-slide">
      {%- assign block_width_mobile = '' -%}

      {% for block in section.blocks %}
        {% case block.settings.width %}
          {% when '25%' %}
            {%- assign max_height = 250 -%}
            {%- assign block_width = 'medium-up--one-quarter' -%}
            {%- assign block_width_mobile = 'small--one-half' -%}
          {% when '33%' %}
            {%- assign max_height = 345 -%}
            {%- assign block_width = 'medium-up--one-third' -%}
            {%- assign block_width_mobile = 'small--one-half' -%}
          {% when '50%' %}
            {%- assign max_height = 530 -%}
            {%- assign block_width = 'medium-up--one-half' -%}
            {%- assign block_width_mobile = 'small--one-half' -%}
          {% when '66%' %}
            {%- assign max_height = 720 -%}
            {%- assign block_width = 'two-thirds' -%}
          {% when '75%' %}
            {%- assign max_height = 810 -%}
            {%- assign block_width = 'three-quarters' -%}
          {% when '100%' %}
            {%- assign max_height = 1090 -%}
            {%- assign block_width = 'one-whole' -%}
        {% endcase %}

        <li class="custom-content custom-grid">

          <!-- <div class="custom__item custom__item--image_text image_text custom__item--{{ section.id }} two-thirds" {{ section.shopify_attributes }}> -->
          <div class="custom__item custom__item--image_text image_text custom__item--{{ section.id }} " {{ section.shopify_attributes }}>
            <div class="custom__item-inner custom__item-inner--image_text grid-image_text">
              {%- assign collection = collections[block.settings.collection] -%}
              {% include 'collection-grid-item-carousel', collection: collection, collection_custom_image: block.settings.image %}

            </div>
          </div>
  
          <!-- <div class="custom__item custom__item--product_stacked product_stacked custom__item--{{ section.id }} medium-up--one-third" {{ section.shopify_attributes }}> -->
          <div class="custom__item custom__item--product_stacked product_stacked custom__item--{{ section.id }}" {{ section.shopify_attributes }}>
            <div class="custom__item-inner custom__item-inner--product_stacked grid-product_stacked">
              {%- assign product_one = all_products[block.settings.product_one] -%}
              {%- assign product_two = all_products[block.settings.product_two] -%}
                <div class="product-one">
                  {% include 'home-product-card-grid', max-height: 345, product: product_one, enable_image: block.settings.enable_product_one | json, custom_image: block.settings.product_one_img %}
                </div>
                <div class="product-two">
                  {% include 'home-product-card-grid', max-height: 345, product: product_two, enable_image: block.settings.enable_product_two, custom_image: block.settings.product_two_img %}
                </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  

</div>



{% schema %}
{
  "name": "Custom content V4",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Custom content"
    }
  ],
  "blocks": [
    {
     "type": "image_text",
     "name": "Custom Section Carousel",
     "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "66%",
          "options": [
          {
            "value": "25%",
            "label": "25%"
          },
          {
            "value": "50%",
            "label": "50%"
          },
          {
            "value": "66%",
            "label": "66%"
          },
          {
            "value": "75%",
            "label": "75%"
          },
          {
            "value": "100%",
            "label": "100%"
          }
          ]
        },
        {
          "type": "header",
          "content": "Text Inside Picture"
        },
        {
          "type": "text",
          "id": "text_in_image",
          "label": "Heading",
          "default": "CITY COLLECTION"
        },
        {
          "type": "header",
          "content": "Link"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "image_link_label",
          "label": "Link Label",
          "default": "Shop"
        },
        {
          "type": "header",
          "content": "Stacked Products Settings"
        },
        {
          "type": "product",
          "id": "product_one",
          "label": "Top Product"
        },
        {
          "type": "checkbox",
          "id": "enable_product_one",
          "default": false,
          "label": "Use Custom Image For Top Product"
        },
        {
          "type": "image_picker",
          "id": "product_one_img",
          "label": "Custom Image For Top Product"
        },
        {
          "type": "product",
          "id": "product_two",
          "label": "Bottom Product"
        },
        {
          "type": "checkbox",
          "id": "enable_product_two",
          "default": false,
          "label": "Use Custom Image For Bottom Product"
        },
        {
          "type": "image_picker",
          "id": "product_two_img",
          "label": "Custom Image For Top Product"
        }
      ]
    },
    {
      "type": "product_stacked",
      "name": "Product-Stacked",
      "settings": [
        {
          "type": "product",
          "id": "product_one",
          "label": "Top Product"
        },
        {
          "type": "checkbox",
          "id": "enable_product_one",
          "default": false,
          "label": "Use Custom Image For Top Product"
        },
        {
          "type": "image_picker",
          "id": "product_one_img",
          "label": "Custom Image For Top Product"
        },
        {
          "type": "product",
          "id": "product_two",
          "label": "Bottom Product"
        },
        {
          "type": "checkbox",
          "id": "enable_product_two",
          "default": false,
          "label": "Use Custom Image For Bottom Product"
        },
        {
          "type": "image_picker",
          "id": "product_two_img",
          "label": "Custom Image For Top Product"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "33%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content V4",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "image_text"
        },
        {
          "type": "product_stacked"
        }
      ]
    }
  ]
}
{% endschema %}
