{% section 'page-banner' %}

{% if page.content.size > 0 %}
  <div class="rte shipping-return-part">
    <div class="page-width">
       {{ page.content }}
    </div>
  </div>
{% endif %}

<style>

</style>

<div class="wholesale-page-width" style="">
  <div class="wholesale-container">
    <!-- <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth"> -->
      <div class="section-header text-center">
        <div class="wholesale-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="161.727" height="27.684" viewBox="0 0 161.727 27.684">
            <g id="b" transform="translate(-20 -20)">
              <path id="c" d="M20.02,49.008,20,48.693a2.971,2.971,0,0,0,2.284-1.9q.59-1.53.591-6.995V26.1a3.5,3.5,0,0,0-.571-2.15,3.268,3.268,0,0,0-1.851-1.085V22.55c.13,0,.328.007.591.02q2.5.138,3.526.137,1.89,0,3.8-.137c.236-.013.38-.02.434-.02h.04v.314a2.836,2.836,0,0,0-1.842,1.015,3.651,3.651,0,0,0-.582,2.219V40.03q0,5.131.591,6.68a3.123,3.123,0,0,0,2.3,1.983v.314q-1.557-.061-2.758-.09c-.8-.018-1.5-.029-2.089-.029-.723,0-1.451.011-2.188.029s-1.491.049-2.266.09Z" transform="translate(0 -1.977)"/>
              <path id="d" d="M117.8,44.054a18.471,18.471,0,0,1-5.359,2.738,20.6,20.6,0,0,1-6.206.887,14.965,14.965,0,0,1-10.629-3.87A13.126,13.126,0,0,1,91.46,33.751a12.876,12.876,0,0,1,4.108-9.939Q99.675,20,106.316,20a21.192,21.192,0,0,1,5.665.748,18.764,18.764,0,0,1,5.072,2.246l-1.42,4.865-.375-.079a9.866,9.866,0,0,0-3.044-5.2,8.315,8.315,0,0,0-5.427-1.694A10,10,0,0,0,98.7,24.411q-2.965,3.528-2.965,9.712a13.389,13.389,0,0,0,3.073,9.16,10.066,10.066,0,0,0,7.94,3.506,8.911,8.911,0,0,0,6.009-2.06,9.71,9.71,0,0,0,3.113-5.761l.375-.058,1.557,5.141Z" transform="translate(-55.409 0)"/>
              <path id="e" d="M240.73,33.751a13,13,0,0,1,4.108-9.861A14.584,14.584,0,0,1,255.29,20a14.813,14.813,0,0,1,10.55,3.92,12.961,12.961,0,0,1,4.146,9.831,13.113,13.113,0,0,1-4.216,9.9,14.449,14.449,0,0,1-10.382,4.027,14.794,14.794,0,0,1-10.5-3.969,13.193,13.193,0,0,1-4.158-9.96Zm4.2.04q0,6.108,2.787,9.575a9.307,9.307,0,0,0,7.673,3.468,9.118,9.118,0,0,0,7.574-3.5q2.827-3.5,2.828-9.506c0-4.007-.925-7.253-2.779-9.546a10.368,10.368,0,0,0-15.368-.058q-2.719,3.379-2.718,9.564Z" transform="translate(-171.15)"/>
              <path id="f" d="M397.71,48.889v-.314a3.9,3.9,0,0,0,2.729-2.835q.778-2.342.777-8.785V28a7.356,7.356,0,0,0-.591-3.6,4.06,4.06,0,0,0-2.107-1.462v-.314c.485,0,1.058.013,1.714.04s1.083.04,1.28.04q.334,0,1.536-.04.866-.02,1.4-.04,5.6,6.54,9.9,11.175t8.461,8.567V33.437q0-5.829-.73-7.765a5,5,0,0,0-2.659-2.846V22.55c.157,0,.393.013.71.04q2.129.118,2.956.119,1.341,0,4.117-.157h.137v.276a4.658,4.658,0,0,0-2.767,2.925q-.758,2.133-.759,8.616V49.661h-.355q-5.576-6.995-17.415-19.858-2.54-2.766-3.8-4.149V35.773q0,7.884.759,10.058a4.013,4.013,0,0,0,2.668,2.747v.314H397.71Z" transform="translate(-292.87 -1.977)"/>
              <path id="g" d="M551.29,49.008l-.02-.314a2.971,2.971,0,0,0,2.284-1.9q.59-1.53.591-6.995V26.1a3.5,3.5,0,0,0-.57-2.15,3.268,3.268,0,0,0-1.851-1.085V22.55c.13,0,.328.007.591.02q2.5.138,3.526.137,1.89,0,3.8-.137c.236-.013.38-.02.433-.02h.04v.314a2.837,2.837,0,0,0-1.842,1.015,3.651,3.651,0,0,0-.582,2.219V40.03q0,5.131.591,6.68a3.123,3.123,0,0,0,2.3,1.983v.314q-1.557-.061-2.758-.09c-.8-.018-1.5-.029-2.089-.029-.723,0-1.451.011-2.188.029s-1.491.049-2.266.09Z" transform="translate(-411.938 -1.977)"/>
              <path id="h" d="M649.071,44.054a18.472,18.472,0,0,1-5.359,2.738,20.6,20.6,0,0,1-6.206.887,14.965,14.965,0,0,1-10.629-3.87,13.126,13.126,0,0,1-4.146-10.058,12.876,12.876,0,0,1,4.108-9.939Q630.945,20,637.586,20a21.192,21.192,0,0,1,5.665.748,18.764,18.764,0,0,1,5.072,2.246l-1.42,4.865-.375-.079a9.866,9.866,0,0,0-3.044-5.2,8.315,8.315,0,0,0-5.427-1.694,10,10,0,0,0-8.086,3.526q-2.965,3.528-2.965,9.712a13.389,13.389,0,0,0,3.073,9.16,10.066,10.066,0,0,0,7.94,3.506,8.911,8.911,0,0,0,6.008-2.06,9.71,9.71,0,0,0,3.113-5.761l.375-.058,1.557,5.141Z" transform="translate(-467.346 0)"/>
            </g>
          </svg>
          
        </div>
        <h4>COLLAB</h4>
        <p>Sign up for an account to start buying wholesale.</p>
      </div>


      <div class="wholesale-form">
        {%- assign formId = 'WholesaleForm' -%}
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          <!-- <div class="name-email grid grid--half-gutters"> -->
          <div class="form-items">
            <!-- <div class="grid__item medium-up--one-half"> -->
            <div class="">
              <!-- <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label> -->
              <label for="{{ formId }}-firstname">First Name</label>
              <input type="text" id="{{ formId }}-firstname" name="contact[First Name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="">
              <label for="{{ formId }}-lastname">Last Name</label>
              <input type="text" id="{{ formId }}-name" name="contact[Last Name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <!-- <div class="grid__item medium-up--one-half"> -->
            <div class="">
              <label for="{{ formId }}-email">Email Address</label>
              <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
            <label for="{{ formId }}-message">Your message</label>
            <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  
            <input type="submit" class="btn" value="APPLY FOR WHOLESALE">
          </div>

          <!-- <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"> -->


        {% endform %}
      </div>

    <!-- </div> -->
  </div>
</div>